.box{
	width:40%;
	margin:2%;
	display:inline-block;
	border: 1px solid black;
	text-align:center;
}

.about{
	border: 3px solid black;
	padding:3%;
	width:50%;
	margin-left:20%;
	font-size:30px;
	font-weight:bold;
}